@model Monei.MvcApplication.Models.LocalPasswordModel

<h3>Change password</h3>

@using (@Html.BeginForm("Manage", "Account")){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <fieldset>
        <legend>Change password form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.TextBoxFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.TextBoxFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.TextBoxFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>                            
    
}