@model Monei.MvcApplication.Models.ContractModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@if (ViewBag.ErrorMessage != null)
{ 
    <p class="message-error">@ViewBag.ErrorMessage</p>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Contract</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contract.Supplier)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contract.Supplier)
            @Html.ValidationMessageFor(model => model.Contract.Supplier)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contract.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contract.StartDate)
            @Html.ValidationMessageFor(model => model.Contract.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contract.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contract.EndDate)
            @Html.ValidationMessageFor(model => model.Contract.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contract.Note)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contract.Note)
            @Html.ValidationMessageFor(model => model.Contract.Note)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contract.DueAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contract.DueAmount)
            @Html.ValidationMessageFor(model => model.Contract.DueAmount)
        </div>

  
        <div class="form-actions">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

