@if (Request.IsAuthenticated) {
    <span>
        <i class="icon-user"></i>
        @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username btn-link", title = "Manage",  })
        (@Html.Raw(Account.Currency.Code))
    </span>
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-link">Log off</a>
        }

} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        @*<li><button onclick="javascript:@Url.Action("Register", "Account", new {area=""})" id="registerLink" class="btn">Register</button></li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        @*<li><button onclick="javascript:@Url.Action("Login", "Account", new { area="" })" id="loginLink" class="btn">Sign in</button></li>*@
    </ul>
}
